%h1 All Running Containers
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Name
        %th Image
        %th State
        %th Status
        %th Actions
    %tbody
      - @containers.each do |container|
        %tr
          %td= container.id[0..11]
          %td= container.name
          %td= container.image
          %td= container.state
          %td= container.status
          %td
            - if container.state == 'running'
              =link_to fa_icon("hand-stop-o"), stop_docker_api_container_path(container), class: 'btn btn-secondary btn-sm active', role: 'button', "aria-pressed": true
            - if container.state == 'exited'
              =link_to fa_icon("play-circle-o"), start_docker_api_container_path(container), class: 'btn btn-secondary btn-sm active', role: 'button', "aria-pressed": true

