%h1 All Running Containers
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Name
        %th Image
        %th State
        %th State Time
    %tbody
      - @containers.each do |container|
        %tr
          %td= container.id[0..11]
          %td= container.info["Names"].map { |name| name[1..-1] }.join(', ')
          %td= container.info["Image"]
          %td= container.info["State"]
          %td= container.info["Status"]
