%h1 All Running Containers
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Name
        %th Image
        %th State
        %th Status
        %th Actions
    %tbody
      - @containers.each do |container|
        %tr
          %td= container.id[0..11]
          %td= container.name
          %td= container.image
          %td= container.state
          %td= container.status
          %td
            %a.btn.btn-secondary.btn-sm.active{"aria-pressed" => "true", href: "#", role: "button"}
              = fa_icon "hand-stop-o"
