!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dothroku
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'top_nav'
    .container-fluid
      .row
        = render partial: 'side_nav'
        %main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
          - if notice
            .alert.alert-warning{:role => "alert"}
              %strong Oh snap!
              = notice
          - if alert
            .alert.alert-danger{:role => "alert"}
              %strong Oh snap!
              = alert
          = yield
